<app-header-bar [pageTitle]="pageTitle"></app-header-bar>
<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>I am an ultra runner and software developer based in Boulder, CO</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          I train with the
          <a href="http://www.runboulder.org/" target="_blank">Run Boulder Athletic Club</a>
          under
          <a href="http://www.kathy-butler.com/" target="_blank">Kathy Butler</a>
          and with
          <a href="http://www.kpperformanceboulder.com/" target="_blank">Kevin Purvis</a>.
          When I'm not running, I'm helping reduce energy use by making buildings
          more efficient as a Front End Developer at
          <a href="http://www.brightpower.com/" target="_blank">Bright Power</a>.
        </p>
      </ion-card-content>
      <img src="/assets/img/escca.jpg" alt="Photo by Nate Dunn" />
    </ion-card>
</ion-content>
