ion-card-content {
  padding: 10px;
}

agm-map.mobile-view {
  height: 300px;
}

agm-map.desktop-view {
  height: 450px;
}

.path-toggle {
  text-align: center;
}

.fkt-link {
  text-align: center;
}
