<app-header-bar [pageTitle]="pageTitle" [showSocial]="true"></app-header-bar>
<ion-content>
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title *ngIf="!isMobile">{{descText}}</ion-card-title>
        <ion-card-subtitle *ngIf="isMobile">{{descText}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          I train with the
          <a href="http://www.runboulder.org/" target="_blank">Run Boulder Athletic Club</a>
          under
          <a href="http://www.kathy-butler.com/" target="_blank">Kathy Butler</a>
          and with
          <a href="http://www.kpperformanceboulder.com/" target="_blank">Kevin Purvis</a>.
          I'm currently building out a new take on race photo websites,
          <a href="https://www.roughtrailphotos.com" target="_blank">Rough Trail Photos</a>,
          and a recipe search app,
          <a href="https://www.jigsawchef.com" target="_blank">Jigsaw Chef</a>.
        </p>
      </ion-card-content>
      <img src="/assets/img/escca.jpg" alt="Photo by Nate Dunn" />
    </ion-card>
</ion-content>
